<!DOCTYPE html>
<html>
<head>
  <title>Learn</title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <nav class="navbar navbar-default">
      <ul class="nav navbar-nav">
        <li><%= link_to "Home", lessons_path %></li>
        <li><%= link_to "Add Lesson", new_lesson_path %></li>
      </ul>
    </nav>
    <%= flash[:alert] %>
    <%= flash[:notice] %>
    <%= yield %>
  </div>

</body>
</html>
